.about-main {
  position: relative;
}
.section-about{
  background-color: #84a178;
}
.about-title-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 12px;
  padding-top: 60px;
}

.about-title {
  margin-left: auto;
  margin-right: auto;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color);
}

.about-content{
  margin-top: 32px;
}

.about-background-circle {
  width: 280px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  margin-bottom: 62px;
}

.about-picture {
  position: absolute;
  top: 262px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-image: url(../images/michael-martinelli-mobile.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .about-picture {
    background-image: url(../images/michael-martinelli-mobile@2x.jpg);
  }
}

.about-list{
  margin-bottom: 24px;
}

.about-description-text {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--text-color);
}

.about-description-item:not(:last-child) {
  margin-bottom: 4px;
}

.about-button {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  padding: 12px 51px 12px 34px;
  color: var(--text-color-btn);
  background-color: var(--Default-color);
  border: none;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  transition-property: color, fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-brauser);
}

.about-button:hover,
.about-button:focus {
  background-color: var(--hover-color);
}

.about-button:focus {
  color: var(--text-color);
  fill: var(--text-color);
}

.about-button-icon {
  position: absolute;
  top: 15px;
  left: 117px;
}

@media screen and (max-width: 767px) {
  .about-title {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .about-title-label {
    font-weight: 800;
    font-size: 22px;
  }

  .about-title {
    font-size: 34px;
    letter-spacing: 0.06em;
  }

  .about-content{
    display: flex;
    margin-top: 72px;
    
  }

  .about-background-circle {
    width: 330px;
    height: 330px;
    margin-left: 0;
    margin-right: 38px;
    margin-bottom: 0;
  }

  .about-picture {
    top: 240px;
    left: 32px;
    transform: translateX(0%);
    width: 330px;
    height: 330px;
    background-image: url(../images/michael-martinelli-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .about-picture {
      background-image: url(../images/michael-martinelli-tablet@2x.jpg);
    }
  }

  .about-list {
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .about-description-text {
    width: 334px;
    text-align: left;
  }

  .about-description-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .about-button {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about-title-label {
    font-size: 30px;
  }

  .about-title {
    font-size: 36px;
  }

  .about-content{
    margin-top: 82px;
    }

  .about-background-circle {
    width: 490px;
    height: 490px;
    margin-right: 109px;
  }

  .about-picture {
    top: 275px;
    left: 16px;
    width: 490px;
    height: 490px;
    background-image: url(../images/michael-martinelli-disktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .about-picture {
      background-image: url(../images/michael-martinelli-disktop@2x.jpg);
    }
  }

  .about-list {
    margin-top: 90px;
    margin-bottom: 54px;
  }

  .about-description-text {
    width: 463px;
    font-size: 14px;
    line-height: 1.94;
  }

  .about-descr-text-desktop {
    font-size: 16px;
    line-height: 1.76;
  }
}