ul,ol {
    list-style-type: none;
}
.contacs {
    padding: 60px 0;
    background-image: linear-gradient(#0000 192px, #84a178 175px);
}
.container-contacs {
    width: 480px;
}



.some-contacs-cards {
    width: 280px;
    height: 100%;
    padding: 40px 32px 24px 32px;
    margin: 0 auto;
    margin-bottom: 16px;
    text-decoration: none;
    text-align: left;
    background: #FCFCFC;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    list-style-type: none;
}
.some-contacs-cards-last {
    margin-bottom: 0;
}
.button-contacs {
    background: #F8D24E;
    border-radius: 4px;
    border-color: transparent;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    color: #131313;
    padding: 4px 22px;
}

.contacs-cards-table {
    padding-top: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;
}
.contacs-tables {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #131313;
}

.contacs-table:hover{
text-decoration: underline;
}

.contacs-representaition {
    width: 76px;
    height: 30px;
    background-color: #F8D24E;
    display: block;
    padding: 4px;
    text-align: center;
    border-radius: 6px;    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.40;
    text-align: center;
    letter-spacing: 0.04em;

    color: #131313;
}
.contacs-representaition-foodtruck {
    width: 148px;
}
.contacs-table {
    color: #D6936D;
}
.contacs-card-teams {
    padding: 24px 0;
    border-bottom: 1px solid #E1E1E1;
    list-style-type: none;
}
.contacs-card-week {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: #131313;
}
.contacs-card-team {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: #ABABAB;
}

.contacs-card-links {
    padding-top: 24px;
    list-style-type: none;
}
.contacs-card-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.60;
    color: #131313;
    text-decoration: none;
}
.contacs-card-tel {
    margin-bottom: 6px;
}
.contacs-button {
    width: 196px;
    background: #F8D24E;
    border-radius: 10px;
    border-color: transparent;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    color: #131313;
    padding: 12px 37px;
}
.contacs-button-franshise {
    width: 196px;
    background: transparent;
    border-radius: 10px;
    // border-color: #F8D24E;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    color: #131313;
    padding: 12px 40px;
    border: 2px solid #F8D24E;
}
.container-button {
    text-align: center;
}
.container-button-link {
    margin-top: 24px;
    margin-bottom: 16px;
}
.contacs-button-left:hover {
    background: #0A8817;
}
.contacs-button-left:focus {
    background: #0A8817;
    color: #FFFFFF;
    fill: #FFFFFF;
}
.contacs-button-right {
    background-color: transparent;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}
.contacs-button-right:hover {   
    border: 2px solid #0A8817;
}
.contacs-button-right:focus {
    border: 2px solid #0A8817;
    color: #FFFFFF;
    fill: #FFFFFF;
}
.contacs-button-icons {
    margin-right: 4px;
}
//---Phone---//
@media screen and (min-width: 320px) and (max-width: 767px) {
    .container-contacs {
        width: 100%;
    }
    .contacs {
        background-image: linear-gradient(#0000 415px, #84a178 175px);
    }
}
//---Tablet---//
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contacs {
        background-image: linear-gradient(#0000 320px, #84a178 175px);
    }
    .global-section-contacs {
        width: 768px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    .global-section-contacs li {
        margin-right: 16px;
    }
    .global-section-contacs li:last-child {
        margin-right: 0;
    }
    .container-contacs {
        width: 100%;
    } 
    .some-contacs-cards {
        width: 224px;
       
        margin: 0 auto;
        margin: 0;
    }
    .some-contacs-cards:last-child {
        margin-right: 0;
    }
    .container-button-contact {
        display: flex;
        align-items: baseline;
        text-align: center;
        justify-content: center;
    }
    .container-button-link {
        margin-right: 16px;
        margin-top: 40px;
    }
    .contacs-tables {
        width: 150px;
    }
    // .container-button {
    //     display: flex;
    //     text-align: center;
    //     flex-wrap: wrap;
    // }
}


//---Desctop---//
@media screen and (min-width: 1200px) {
    .some-contacs-cards {
        width: 368px;
        height: 100%;
    }
    .global-section-contacs {
        width: 1200px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    .global-section-contacs li {
        margin-right: 16px;
    }
    
    .global-section-contacs li:last-child {
        margin-right: 0;
    }
    .container-contacs {
        width: 100%;
    } 
    .contacs-cards-table {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .contacs-card-teams {
        padding: 32px 0;
    }
    .some-contacs-cards {
        padding: 40px;
        margin: 0;
    }
    .contacs-card-links {
        padding-top: 32px;
    }
    .button-contacs {
        padding: 4px 14px;
    }
    .contacs-card-team-block {
        margin-bottom: 12px;
    }
    .container-button-contact {
        display: flex;
        align-items: baseline;
        text-align: center;
        justify-content: center;
    }
    
    .container-button-link {
        margin-right: 16px;
        margin-top: 60px;
    }
}

