@media screen and (max-width: 767px) {
    .section-slider {     
        background-image: linear-gradient(
            to bottom,
            #84A178 10%,
            transparent 10%
        );

        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 80px;
    }

}

.container-swiper-slider{
    padding: 0;
}

@media screen and (min-width: 768px) {
    .section-slider {
        background-image: linear-gradient(
        to bottom,
        #84A178 42%,
        transparent 42%
    );

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
    }

}    

@media screen and (min-width: 1200px) {
    .section-slider {
        background-image: linear-gradient(
        to bottom,
        #84A178 17%,
        transparent 17%
    );

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 140px;
    }
}    

.container-swiper-slider {
   max-width: 100%;
   
}

.container-slider {
    position: relative;
}

.container-swiper {
    position: relative; 
}

@media screen and (min-width: 480px) {
    .container-slider {
        margin-left: auto;
        margin-right: auto;  
    }

    .container-swiper {
        margin-left: auto;
        margin-right: auto; 
    }
}


.swiper {
    
    max-width: 1013px;
    max-height: 433px;
    border: transparent;
}

.swiper-slide {
    position: relative;
    margin: 0 auto;   
    width: 1013px;    
    overflow: hidden;  
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    
    display: block;
    width: 100%;   
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

.swiper-slide {
    display: block;
    width: 100%;   
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}


.swiper-button-next::after,
.swiper-button-prev::after {
    color: transparent;
}

@media screen and (min-width: 480px) {
    .swiper {
        width: 440px;
    }

    .swiper-slide img {
        border-radius: 8px;
    }
    
}

@media screen and (min-width: 768px)  {
    .swiper {
        width: 704px;
        height: 327px;
        padding-bottom: 0;
    }

    .swiper-slide img {
        border-radius: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .swiper {
        width: 1013px;
        height: 422px;
        padding-bottom: 0;
    }

    .swiper-slide img {
        border-radius: 24px;
    }
}

/* SLIDER 2*/

@media screen and (max-width: 767px) {
    .section-swiper {
        padding-left: 15px;
        padding-right: 15px;
        
    }
}

@media screen and (min-width: 768px) {
    .section-swiper {
        padding-left: 15px;
        padding-right: 15px;
       
    }
}

@media screen and (min-width: 1200px) {
    .section-swiper {
        padding-left: 15px;
        padding-right: 15px;
       
    }
}

.slider {
    display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

}

@media screen and (max-width: 767px) {
    .slider {
        max-width: 280px; 
        padding-bottom: 12px;
    }
}

@media screen and (min-width: 768px) {
    .slider {
        max-width: 704px;
        padding-bottom: 32px;
    }

}

@media screen and (min-width: 1200px) {
    .slider {
        max-width: 968px; 
        
    }
}

.slider-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;   
}

.slider-img img {
    overflow: hidden;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-text {
    display: flex;
   margin-left: auto;
   margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: #84A178;
    color: #FCFCFC;
    text-align: center;
    margin-bottom: 32px;  
    margin-top: 0;  
}



@media screen and (max-width: 767px) {
    .swiper-text {
        font-size: 12px;
        line-height: 2.55;
        padding: 35px 39px;
         border-radius: 10px;   
    }

}
    
@media screen and (min-width: 768px) {
    .swiper-text {
         padding: 29px 80px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.86;
         border-radius: 24px;
    }   

}

@media screen and (min-width: 1200px) {
    .swiper-text  {
        padding: 43px 109px;
        font-size: 16px;
        border-radius: 24px;
    }  
    
}

.slider-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.86;
    text-align: center;
    color: #131313; 
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .slider-text {
        margin-bottom: 24px;
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .slider-text {
        margin-bottom: 32px;
        font-size: 16px;  
    }
}



.mySwiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    line-height: 20px;
    font-size: 14px;
    background-color: #84A178;
}