// .data-menu-open {
//   background-color: transparent;
// }

// .data-menu {
//   overflow: hidden;
//   height: 100%;
//   width: 100%;
//   position: fixed;
//   background-color: #84a278;
//   transform: translateX(100%);
//   transition: transform 0.2s ease-in;
//   z-index: 100;
// }

// .js-close-menu {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   float: right;
//   margin-left: auto;
//   padding-top: 16px;
//   padding-right: 20px;
// }

// .js-close-menu:hover {
//   background-color: var(--button-animation);
//   fill: #fff;
// }

// .js-close-menu:focus {
//   background-color: var(--button-animation);
//   fill: #fff;
// }

// .sidebar-buttons {
//   margin-top: 48px;
//   display: flex;
//   justify-content: space-between;
// }

// .sidebar-list {
//   list-style: none;
// }

// .menu-toggle {
//   margin-left: auto;
//   margin-top: 17px;
//   width: 32px;
//   height: 32px;
//   border: none;
// }

// .menu-closed {
//   width: 34px;
//   height: 34px;
// }

// .is-open {
//   transform: none;
// }

// .data-menu.is-hidden {
//   display: none;
// }

.js-menu-container {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #84a278;
  transform: translateX(100%);
  padding: 20px;
  transition: transform 0.2s ease-in;
  z-index: 100;
}

.js-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 32px;
  height: 32px;
  background-color: var(--corn-flower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-mobile-menu {
  width: 32px;
  height: 32px;
}

.js-close-menu:hover {
  background-color: var(--button-animation);
  fill: #fff;
}

.js-close-menu:focus {
  background-color: var(--button-animation);
  fill: #fff;
}

.sidebar-list-a.current:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 66px;
  color: var(--iris);
}

.sidebar-list-a {
  text-decoration: none;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-list {
  display: block;
  text-align: center;
  list-style: none;
  margin-top: 80px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.sidebar-list li {
  margin-bottom: 40px;
}

.sidebar-list li:last-child {
  margin-bottom: 0;
}

.sidebar-list-a:hover {
  color: var(--text-color-dark);
}

.sidebar-list-a:focus {
  color: var(--text-color-dark);
}

.is-open {
  transform: none;
}

.container-header {
  background-color: #84a278;
  padding: 12px 20px;
  display: flex;
  text-align: center;
}

.header {
  background-color: #84a278;
}
.menu-toggle {
  background-color: transparent;
  margin-left: auto;

  width: 32px;
  height: 32px;
  border: none;
}

.menu-button {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 14px;
  background-color: #f8d24e;
  border-color: transparent;
  width: 152px;
  height: 42px;
  border-radius: 10px;
  margin-top: 110px;
}

.hero-menu {
  font-weight: 700;
  font-size: 32px;
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 308px;
  padding-left: 0;
  margin-top: 0;
}

.menu-item {
  display: flex;
  padding-right: 28px;
}

.menu-link {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover {
  color: #f8d24e;
}

.menu-link:focus {
  color: #f8d24e;
}

.hero-logo {
  width: 40px;
  height: 37px;
  fill: #f8d24e;
}

.toggle-svg {
  width: 32px;
  height: 32px;
}

.header-button {
  font-weight: 600;
  font-size: 14px;
  margin-left: auto;
  background-color: #f8d24e;
  border-color: transparent;
  width: 152px;
  height: 42px;
  border-radius: 10px;
}

@media screen and (min-width: 480px) {
  .hero-logo {
    width: 48px;
    height: 44px;
  }
}

@media screen and (max-width: 768px) {
  .header-button {
    display: none;
  }

  .container-header {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .container-header {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1156px) {
  .hero-menu {
    display: none;
  }

  .header-button {
    margin-left: 38px;
  }
}

@media screen and (min-width: 1157px) {
  .menu-toggle {
    display: none;
  }

  .hero-logo {
    width: 60px;
    height: 65px;
  }

  .container-header {
    max-width: 1200px;
  }
}
