.text-h {
  display: block;
  font-family: 'Seymour One';
  width: 247px;
  font-weight: 400;
  font-size: 26px;
  color: #fcfcfc;
  text-transform: uppercase;
}

.hero-section {
  background-color: #84a178;
  // background-image: url(../images/ice-cream-frame-mobile@2x.png);
  // background-repeat: no-repeat;
  // background-position: bottom;
}


.header-button:hover,
.header-button:focus{
background-color: var( --hover-color);
}

.header-button:disabled{
  background-color: var(--text-color-data--Disabled);
}

.hero-button,
.header-botton {

  font-weight: 600;
  font-size: 12px;
  box-sizing: border-box;
  min-width: 108px;
  min-height: 38px;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  border: 2px solid #0a8817;
  border-radius: 10px;
}

.hero-button:focus {
  border: 2px solid #0a8817;
  border-radius: 10px;
  color: #fff;
}

.hero-link {
  font-weight: 600;
  font-size: 12px;
  text-decoration-line: underline;
  color: #f8d24e;
  margin-left: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover {
  color: #0a8817;
}

.hero-link:focus {
  color: #fcfcfc;
}

.hero-passion {
  margin-top: 50px;
}

.passion-buttons {
  margin-top: 32px;
}

.hero-text {
  display: flex;
  margin-top: 42px;
  align-items: center;
}

.plate {
  border-radius: 100%;
}

.description-text {
  width: 200px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.description-button {
  background-color: transparent;
  border-color: transparent;
  border: none;
  padding: 0;
  margin-top: 24px;
}

.description-svg {
  width: 40px;
  height: 16px;
  fill: white;
}

.description {
  margin-left: 16px;
}

// .ice-cream {
//   position: relative;
// }

.dots {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.hero-image {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 60px;
}

.container-hero {
  padding: 1px 20px;
  position: relative;
}

.cafes-tracks {
  text-align: right;
  list-style: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 32px;
  margin-top: 94px;
}

.amount {
  font-weight: 900;
  font-size: 28px;
}

.institution-type {
  color: #fff;
  font-weight: 400;
  font-size: 8px;
}

@media screen and (max-width: 767px) {
  .passion-buttons {
    margin-bottom: 236px;
  }

  .container-hero {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .passion-buttons {
    margin-bottom: 12px;
  }

  .hero-text {
    margin-bottom: 12px;
  }

  .hero-image {
    margin-right: 92px;
  }

  .description {
    margin-left: 32px;
  }

  .description-text {
    width: 139px;
    font-size: 12px;
    line-height: 1.4;
  }

  .container-hero {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .hero-text {
    display: none;
  }

  .cafes-tracks {
    display: none;
  }
}

@media screen and (min-width: 1157px) {
  .container-hero {
    max-width: 1200px;
  }

  .text-h {
    width: 367px;
    font-size: 38px;
  }

  .hero-button {
    width: 134px;
    height: 42px;
  }

  .hero-link {
    font-size: 14px;
  }

  .hero-passion {
    margin: unset;
    margin-top: 45px;
  }

  .passion-buttons {
    margin: unset;
    margin-top: 24px;
    margin-bottom: 42px;
  }

  .hero-link {
    margin: unset;
    margin-left: 34px;
  }

  .hero-text {
    margin-bottom: 65px;
  }

  .hero-image {
    margin-right: 112px;
  }
  .amount {
    font-weight: 900;
    font-size: 46px;
  }

  .institution-type {
    font-weight: 400;
    font-size: 14px;
  }
}
