.label {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-dark);
}

.title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-dark);
}

.product-card {
  border-radius: 24px;
  text-align: center;
  margin: 0 auto;
}

.green {
  background-color: #aec6a5;
}

.yellow {
  background-color: #efd478;
}

.pink {
  background-color: #d6936d;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-dark);
}

.product-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-color-dark);
}

.forward-button {
  fill: currentColor;
}
