@media screen and (max-width: 479px) {
  .products-background {
    position: absolute;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    max-width: 1440px;
    background-image: url(../images/Backgroud_mobile.jpg);
  }

  .label {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .title {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    text-align: center;
    padding-bottom: 16px;
    margin: 0 auto;
    margin-bottom: 60px;
    padding-top: 123px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 280px;
    height: 420px;
  }

  .product-card:last-child {
    margin-bottom: 0;
  }

  .product-card.green::before {
    content: '';
    background-image: url(../images/kelsey-curtis-ace-cream-mobile.jpg);
    background-position: 0px 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 40px;
    z-index: 5;
  }

  .product-card.yellow::before {
    content: '';
    background-image: url(../images/ace-coffee-mobile.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 40px;
    z-index: 5;
  }

  .product-card.pink::before {
    content: '';
    background-image: url(../images/milkshakes-mobile.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 40px;
    z-index: 5;
  }

  .green {
    background-color: var(--cards-cream);
    position: relative;
  }

  .yellow {
    background-color: var(--cards-coffe);
  }

  .pink {
    background-color: var(--text-list-product);
  }

  .product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .product-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-color-dark);
  }

  .forward {
    margin-top: auto;
    background-color: transparent;
    border: transparent;
  }

  .forward-button {
    fill: currentColor;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .products-background {
    background-image: url(../images/Backgroud_mobile@2x.jpg);
  }
  // .product-card.green::before {
  //   background-image: url(../images/kelsey-curtis-ace-cream-mobile@2x.jpg);
  // }
  // .product-card.yellow::before {
  //   background-image: url(../images/ace-coffee-mobile@2x.jpg);
  // }
  // .product-card.pink::before {
  //   background-image: url(../images/milkshakes-mobile@2x.jpg);
  // }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .products-background {
    position: absolute;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    max-width: 1440px;
    background-image: url(../images/Backgroud_mobile.jpg);
  }

  .label {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .title {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    text-align: center;
    padding-top: 126px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 16px;
    margin: 0 auto;
    margin-bottom: 60px;
    height: 428px;
    width: 320px;
  }

  .product-card:last-child {
    margin-bottom: 0;
  }

  .product-card.green::before {
    content: '';
    background-image: url(../images/kelsey-curtis-ace-cream-mobile.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 60px;
    z-index: 5;
  }

  .product-card.yellow::before {
    content: '';
    background-image: url(../images/ace-coffee-mobile.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 60px;
    z-index: 5;
  }

  .product-card.pink::before {
    content: '';
    background-image: url(../images/milkshakes-mobile.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 60px;
    z-index: 5;
  }

  .green {
    background-color: var(--cards-cream);
  }

  .yellow {
    background-color: var(--cards-coffe);
  }

  .pink {
    background-color: var(--text-list-product);
  }

  .product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .product-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-color-dark);
  }

  .forward {
    margin-top: auto;
  }
  .forward-button {
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-background {
    background-image: url(../images/Background_tablet@2x.jpg);
  }
  // .product-card.green::before {
  //   background-image: url(../images/kelsey-curtis-ace-cream-tablet@2x.jpg);
  // }
  // .product-card.yellow::before {
  //   background-image: url(../images/ace-coffee-tablet@2x.jpg);
  // }
  // .product-card.pink::before {
  //   background-image: url(../images/milkshakes-tablet@2x.jpg);
  // }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-background {
    position: absolute;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    max-width: 1440px;
    background-image: url(../images/Background_tablet.jpg);
  }

  .label {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .title {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.26;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .our-products {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  .product-card {
    position: relative;
    border-radius: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    padding-top: 165px;
    padding-left: 62px;
    padding-right: 62px;
    padding-bottom: 12px;
    height: 428px;
    width: 224px;
  }

  .product-card:last-child {
    margin-bottom: 0;
  }

  .product-card.green::before {
    content: '';
    background-image: url(../images/kelsey-curtis-ace-cream-tablet.jpg);
    background-position: 0px 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -111px;
    left: 12px;
    z-index: 5;
  }

  .product-card.yellow::before {
    content: '';
    background-image: url(../images/ace-coffee-tablet.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -111px;
    left: 12px;
    z-index: 5;
  }

  .product-card.pink::before {
    content: '';
    background-image: url(../images/milkshakes-tablet.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -111px;
    left: 12px;
    z-index: 5;
  }

  .green {
    background-color: var(--cards-cream);
  }

  .yellow {
    background-color: var(--cards-coffe);
  }

  .pink {
    background-color: var(--text-list-product);
  }

  .product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .product-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-color-dark);
  }

  .forward-button {
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-background {
    background-image: url(../images/Backgroud_desktop@2x.jpg);
  }
  // .product-card.green::before {
  //   background-image: url(../images/kelsey-curtis-ace-cream-disktop@2x.jpg);
  // }
  // .product-card.yellow::before {
  //   background-image: url(../images/ace-coffee-disktop@2x.jpg);
  // }
  // .product-card.pink::before {
  //   background-image: url(../images/milkshakes-disktop@2x.jpg);
  // }
}

@media screen and (min-width: 1200px) {
  .products-background {
    position: absolute;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    max-width: 1440px;
    background-image: url(../images/Backgroud_desktop.jpg);
  }

  .label {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .title {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .our-products {
    display: flex;
    flex-wrap: nowrap;
    gap: 29px;
  }

  .product-card {
    position: relative;
    border-radius: 24px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
    height: 536px;
    width: 370px;
  }

  .product-card:last-child {
    margin-bottom: 0;
  }

  .product-card.green::before {
    content: '';
    background-image: url(../images/kelsey-curtis-ace-cream-disktop.jpg);
    background-position: 0px 0px;
    width: 302px;
    height: 302px;
    border-radius: 50%;
    position: absolute;
    top: -167px;
    left: 34px;
    z-index: 5;
  }

  .product-card.yellow::before {
    content: '';
    background-image: url(../images/ace-coffee-disktop.jpg);
    width: 302px;
    height: 302px;
    border-radius: 50%;
    position: absolute;
    top: -167px;
    left: 34px;
    z-index: 5;
  }

  .product-card.pink::before {
    content: '';
    background-image: url(../images/milkshakes-disktop.jpg);
    width: 302px;
    height: 302px;
    border-radius: 50%;
    position: absolute;
    top: -167px;
    left: 34px;
    z-index: 5;
  }

  .green {
    background-color: var(--cards-cream);
  }

  .yellow {
    background-color: var(--cards-coffe);
  }

  .pink {
    background-color: var(--text-list-product);
  }

  .product-name {
    padding-top: 165px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }

  .product-descr {
    padding-top: 66px;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    padding-right: 64px;
    padding-left: 64px;
    letter-spacing: 0.04em;
    color: var(--text-color-dark);
  }

  .forward-button {
    fill: currentColor;
  }
}
