<section class="section-advant">
  <div class="container-advantages">
    <h1 class="visually-hidden">Advantage of Ice Crema</h1>
    <ul class="advantage-list">
      <li class="advantage-item">
        <div class="icon-advantage">
          <svg class="icon-advantage-svg" width="36" height="36">
            <use href="./images/sptite.svg#icon-cow"></use>
          </svg>
        </div>
        <h3 class="advantage-title">721</h3>
        <p class="advantage-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage-item">
        <div class="icon-advantage">
          <svg class="icon-advantage-svg" width="36" height="36">
            <use href="./images/sptite.svg#icon-weight"></use>
          </svg>
        </div>
        <h3 class="advantage-title">16kg</h3>
        <p class="advantage-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage-item">
        <div class="icon-advantage">
          <svg class="icon-advantage-svg" width="36" height="36">
            <use href="./images/sptite.svg#icon-ice-crema"></use>
          </svg>
        </div>
        <h3 class="advantage-title">84</h3>
        <p class="advantage-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
