<section class="contacs">
  <ul class="global-section-contacs">
    <li>
      <div class="container-contacs">
        <h1 class="visually-hidden">contacs</h1>
        <ul class="some-contacs-cards">
          <li>
            <p class="contacs-representaition">CAFE</p>
            <div class="contacs-cards-table">
              <table class="contacs-tables">
                <tr>
                  <td>Chicago</td>
                </tr>
                <tr class="contacs-table">
                  <td>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</td>
                </tr>
              </table>
            </div>
          </li>
          <li>
            <div class="contacs-card-teams">
              <ul>
                <li class="contacs-card-team-block">
                  <p class="contacs-card-week">Monday - Friday</p>
                  <p class="contacs-card-team">06:00 AM - 10:00 PM</p>
                </li>
                <li>
                  <p class="contacs-card-week">Saturday - Sunday</p>
                  <p class="contacs-card-team">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="contacs-card-links">
              <ul>
                <li class="contacs-card-tel">
                  <a class="contacs-card-link" href="tel:+610383766284"
                    >+61(0) 383 766 284</a
                  >
                </li>
                <li>
                  <a class="contacs-card-link" href="mailto:noreply@envato.com"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="container-contacs">
        <h1 class="visually-hidden">contacs</h1>
        <ul class="some-contacs-cards">
          <li>
            <p
              class="contacs-representaition contacs-representaition-foodtruck"
            >
              FOODTRUCK
            </p>
            <div class="contacs-cards-table">
              <table class="contacs-tables">
                <tr>
                  <td>Los Angeles</td>
                </tr>
                <tr class="contacs-table">
                  <td>1003 Manhattan Ave,Manhattan Beach, CA 90263, USA</td>
                </tr>
              </table>
            </div>
          </li>
          <li>
            <div class="contacs-card-teams">
              <ul>
                <li class="contacs-card-team-block">
                  <p class="contacs-card-week">Monday - Friday</p>
                  <p class="contacs-card-team">06:00 AM - 10:00 PM</p>
                </li>
                <li>
                  <p class="contacs-card-week">Saturday - Sunday</p>
                  <p class="contacs-card-team">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="contacs-card-links">
              <ul>
                <li class="contacs-card-tel">
                  <a class="contacs-card-link" href="tel:+610383766284"
                    >+61(0) 383 766 284</a
                  >
                </li>
                <li>
                  <a class="contacs-card-link" href="mailto:noreply@envato.com"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="container-contacs">
        <h1 class="visually-hidden">contacs</h1>
        <ul class="some-contacs-cards some-contacs-cards-last">
          <li>
            <p class="contacs-representaition">CAFE</p>
            <div class="contacs-cards-table contacs-cards-table-right">
              <table class="contacs-tables">
                <tr>
                  <td>New York</td>
                </tr>
                <tr class="contacs-table">
                  <td>726 Sterling Pl, Brooklyn, NY 11222, USA</td>
                </tr>
              </table>
            </div>
          </li>
          <li>
            <div class="contacs-card-teams">
              <ul>
                <li class="contacs-card-team-block">
                  <p class="contacs-card-week">Monday - Friday</p>
                  <p class="contacs-card-team">06:00 AM - 10:00 PM</p>
                </li>
                <li>
                  <p class="contacs-card-week">Saturday - Sunday</p>
                  <p class="contacs-card-team">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="contacs-card-links">
              <ul>
                <li class="contacs-card-tel">
                  <a class="contacs-card-link" href="tel:+610383766284"
                    >+61(0) 383 766 284</a
                  >
                </li>
                <li>
                  <a class="contacs-card-link" href="mailto:noreply@envato.com"
                    >noreply@envato.com</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="container-button">
    <ul class="container-button-contact">
      <li class="container-button-link">
        <button type="button" class="contacs-button contacs-button-left">
          Our Locations<svg
            class="contacs-button-icons"
            width="12px"
            height="12px"
          >
            <use href="./images/icons.svg#icon-about"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="contacs-button contacs-button-right">
          Franchise<svg class="contacs-button-icons" width="12px" height="12px">
            <use href="./images/icons.svg#icon-about"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
