<footer class="footer-page">
  <div class="container footer-page-container">
    <div class="footer-page-wrapper-titel">
      <p class="footer-page-titel titel-dubbed-first">
        homemade ice cream made
      </p>
      <p class="footer-page-titel titel-dubbed-second">with passion</p>
    </div>

    <div class="footer-page-wrapper">
      <ul class="footer-social-list list">
        <li class="footer-social-list-item">
          <a
            class="footer-soc-list-link"
            href="https://www.github.com"
            target="_blank"
            rel="nofollow noopener noreferrer"
          >
            <svg class="footer-list-icon" width="20" height="20">
              <use href="./images/sprite.opt.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list-item">
          <a
            class="footer-soc-list-link"
            href="https://www.telegram.com"
            target="_blank"
            rel="nofollow noopener noreferrer"
          >
            <svg class="footer-list-icon" width="20.4" height="15.87">
              <use href="./images/sprite.opt.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list-item">
          <a
            class="footer-soc-list-link"
            href="https://www.facebook.com"
            target="_blank"
            rel="nofollow noopener noreferrer"
          >
            <svg class="footer-list-icon" width="9.35" height="20.4">
              <use href="./images/sprite.opt.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="footer-page-contact-info">
        <span class="footer-page-text"> Feel free to contact </span>
        <a class="footer-tel link" href="tel:+61(0)383766284"
          >+61 (0) 383 766 284</a
        >
      </div>
    </div>
  </div>

  <div class="footer-page-copyright">
    <p class="footer-copyright-text">&copy; 2022 - IceCream.</p>
    <p class="footer-copyright-text">All Rights Reserved.</p>
  </div>
</footer>
