<div class="container-swiper-slider container">
    <section class="section-slider">
      <div class="container-slider">
        <h2 class="visually-hidden">Gallery</h2>
        <div class="swiper image-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide gallery-img">
              <picture>
                <source media="(min-width: 1158px)" 
                srcset="./images/slider.jpg 1x, ./images/slider@2x.jpg 2x">

                <source media="(min-width: 768px)" 
                srcset="./images/slider.jpg 1x, ./images/slider@2x.jpg 2x">


                <source media="(min-width: 320px)"
                  srcset="./images/slider.jpg 1x, ./images/slider@2x.jpg 2x">

                  <img src="./images/slider.jpg"  />
            </picture>
              
            </div>
            <div class="swiper-slide">
              <picture>
                <source media="(min-width: 1158px)" 
                srcset="./images/slider-1.jpg 1x, ./images/slider-1@2x.jpg 2x">

                <source media="(min-width: 768px)" 
                srcset="./images/slider-1.jpg 1x, ./images/slider-1@2x.jpg 2x">


                <source media="(min-width: 320px)"
                  srcset="./images/slider-1.jpg 1x, ./images/slider-1@2x.jpg 2x">

                <img src="./images/slider-1.jpg"  />
            </picture>
              
            </div>
            <div class="swiper-slide">
              <picture>
                <source media="(min-width: 1158px)" 
                srcset="./images/slider-2.jpg 1x, ./images/slider-2@2x.jpg 2x">

                <source media="(min-width: 768px)" 
                srcset="./images/slider-2.jpg 1x, ./images/slider-2@2x.jpg 2x">


                <source media="(min-width: 320px)"
                  srcset="./images/slider-2.jpg 1x, ./images/slider-2@2x.jpg 2x">

                <img src="./images/slider-2.jpg"  />
            </picture>
              
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

                  <!--SECTION-2-->

    <section class="section-swiper">
      <div class="container-swiper">
        <h2 class=" visually-hidden">Hidden Title</h2>
        <div class="slider mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider-img">
                <picture>
                  <source media="(min-width: 1158px)" 
                  srcset="./images/woman-1.jpg 1x, ./images/woman-1@2x.jpg 2x">
  
                  <source media="(min-width: 768px)" 
                  srcset="./images/woman-1.jpg 1x, ./images/woman-1@2x.jpg 2x">
  
  
                  <source media="(min-width: 320px)"
                    srcset="./images/woman-1.jpg 1x, ./images/woman-1@2x.jpg 2x">
  
                    <img src="./images/woman-1.jpg" width="85" height="85"/>
              </picture>
                
              </div>
              <p class="swiper-text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
              </p>
              <p class="slider-text review">Emily, Los Angeles</p>
            </div>
            <div class="swiper-slide">
              <div class="slider-img">
                <picture>
                  <source media="(min-width: 1158px)" 
                  srcset="./images/review-1.jpg 1x, ./images/review-1@2x.jpg 2x">
  
                  <source media="(min-width: 768px)" 
                  srcset="./images/review-1.jpg 1x, ./images/review-1@2x.jpg 2x">
  
  
                  <source media="(min-width: 320px)"
                    srcset="./images/review-1.jpg 1x, ./images/review-1@2x.jpg 2x">
  
                  <img src="./images/review-1.jpg" width="85" height="85"/>
              </picture>
                
              </div>
              <p class="swiper-text ">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
              </p>
              <p class="slider-text">Bryan, New-York</p>
            </div>
            <div class="swiper-slide">
              <div class="slider-img">
                <picture>
                  <source media="(min-width: 1158px)" 
                  srcset="./images/review-2.jpg 1x, ./images/review-2@2x.jpg 2x">
  
                  <source media="(min-width: 768px)" 
                  srcset="./images/review-2.jpg 1x, ./images/review-2@2x.jpg 2x">
  
  
                  <source media="(min-width: 320px)"
                    srcset="./images/review-2.jpg 1x, ./images/review-2@2x.jpg 2x">
  
                  <img src="./images/review-2.jpg" width="85" height="85"/>
              </picture>
                
              </div>
              <p class="swiper-text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
              </p>
              <p class="slider-text">Diana, Chicago</p>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
    
      </div>
    </section>
  </div>