<section class="hero-section container">
  <div>
    <div class="hero-passion">
      <h1 class="text-h">ice cream made with passion</h1>
      <div class="passion-buttons">
        <button class="hero-button" type="button">Products</button>
        <a class="hero-link" type="button">How it’s made?</a>
      </div>
    </div>
    <div class="hero-text">
      <img
        class="plate"
        src="./images/много-мороженок-disktop.jpg"
        alt="plate of ice cream"
      />
      <div class="description">
        <p class="description-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="description-button" type="button">
          <svg class="description-svg">
            <use href="./images/icons.svg#icon-arrow-def"></use>
          </svg>
        </button>
      </div>
    </div>
    <img
      class="hero-image"
      src="./images/ace-cream-mobile.png"
      alt="ice cream with faces"
    />
    <ul class="cafes-tracks">
      <li class="institutions">
        <h1 class="amount">16</h1>
        <p class="institution-type">cafes</p>
      </li>
      <li class="institutions">
        <h1 class="amount">23</h1>
        <p class="institution-type">food tracks</p>
      </li>
    </ul>
  </div>
</section>
