<!--====================================================== Modal with info about product================================  -->

<div class="backdrop">
    <div class="modal-about">
        <button type="button" class="modal-close-btn">
            <svg class="modal-close-btn-icon" width="20" height="20">
                <use href="./images/sptite.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal-about-header">Chololate ice cream</h2>
        <div class="modal-about-list-products-img">
            <img class="modal-about-list-img"
            srcset="./images/chocolate-ice-cream.jpg 1x,
            ./images/chocolate-ice-cream@2x.jpg 2x" 
            src="./images/chocolate-ice-cream.jpg" alt="ice cream picture" width="132" height="139">
        </div>
        <ul class="modal-about-list">
            <li class="modal-about-list-li">
                <div class="modal-about-list-li-value">320</div>
                <div class="modal-about-list-li-measure">kcal</div>
            </li>
            <li class="modal-about-list-li">
                <div class="modal-about-list-li-value">4g</div>
                <div class="modal-about-list-li-measure">Prote...</div>
            </li>
            <li class="modal-about-list-li">
                <div class="modal-about-list-li-value">8,2g</div>
                <div class="modal-about-list-li-measure">Fats</div>
            </li>
            <li class="modal-about-list-li">
                <div class="modal-about-list-li-value">40,4g</div>
                <div class="modal-about-list-li-measure">Carbs</div>
            </li>
        </ul>

        <table class="modal-about-table">
            <caption class="modal-about-ingredients">
                Ingredients
            </caption>
            <tbody>
              <tr>
                <td class="modal-about-ingredients-list-li">Milk</td>
                <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right">100ml</td>
             </tr>
             <tr>
                <td class="modal-about-ingredients-list-li">Belgian chocolate</td>
                <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right">20g</td>
             </tr>
             <tr>
                <td class="modal-about-ingredients-list-li">Cream</td>
                <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right">150ml</td>
             </tr>
             <tr>
                <td class="modal-about-ingredients-list-li">Cocoa powder</td>
                <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right">30g</td>
             </tr>
             <tr>
                <td class="modal-about-ingredients-list-li">Sugar</td>
                <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right" class="modal-about-ingredients-list-li">40g</td>
             </tr>
             <tr>
                <td class="modal-about-ingredients-list-li">Vanilla sugar</td>
                <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right">10g</td>
             </tr>
            </tbody>
          </table>

        <form class="modal-about-form">
            <label class="modal-about-form-field">
                <span class="modal-about-form-input-wrapper">
                    <input class="modal-about-form-input"
                            type="text"
                            name="user-name"
                            required 
                            pattern="[a-zA-Z]+" minlength="2"
                            placeholder="Name">
                </span>
            </label>
            <label class="modal-about-form-field">
                <span class="modal-about-form-input-wrapper">
                    <input class="modal-about-form-input"
                            type="tel"
                            name="user-phone"
                            required 
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                            title="xxx-xxx-xx-xx"
                            placeholder="Phone">
                </span>
            </label>
            <label class="modal-about-form-field-comment">
                <textarea name="user-comment"
                          class="modal-about-form-comment" 
                         placeholder="Comment"></textarea>
            </label>
            <button type="submit" class="modal-about-form-send">Submit</button>

        </form>
    </div>
</div>

</body>
</html>

