

<!-- ======================================== Product card - modal window ========================-->
<section>    
    <div class="backdrop-modal">
        <div class="modal modal-products" data-modal="modal-products-btn-open">
            <button type="button" class="modal-close-btn js-modal-close">
                <svg class="modal-close-btn-icon" width="20" height="20">
                    <use href="./images/sptite.svg#icon-close"></use>
                </svg>
            </button>
            <h2 class="modal-header">Buy now</h2>
            <ul class="modal-list">
                <li class="modal-list-li">
                    <label for="user-consent" class="modal-form-check-desc">
                        <input id="user-consent" type="checkbox" name="user-consent" class="modal-form-check " checked>
                         <div class="modal-list-products-img">
                            <img class="modal-list-img"
                            srcset="./images/kelsey-curtis-ace-cream-disktop.jpg 1x,
                            ./images/kelsey-curtis-ace-cream-disktop@2x.jpg 2x" 
                            src="./images/kelsey-curtis-ace-cream-disktop.jpg" alt="ice cream picture" width="132" height="139">
                        </div>
                    <h3 class="modal-list-products-container">ice cream</h3>
                   </label>
                </li>
                <li class="modal-list-li">
                    <label for="user-consent" class="modal-form-check-desc">
                        <input id="user-consent" type="checkbox" name="user-consent" class="modal-form-check " checked>
                    <div class="modal-list-products-img">
                            <img class="modal-list-img"
                            srcset="./images/ace-coffee-disktop.jpg 1x,
                            ./images/ace-coffee-disktop@2x.jpg 2x" 
                            src="./images/ace-coffee-disktop.jpg" alt="ice coffee picture" width="132" height="139">
                        </div>
                     <h3 class="modal-list-products-container">ice coffee</h3>
                    </label>
                </li>
                <li class="modal-list-li">
                    <label for="user-consent" class="modal-form-check-desc">
                        <input id="user-consent" type="checkbox" name="user-consent" class="modal-form-check " checked>
                    <div class="modal-list-products-img">
                            <img class="modal-list-img"
                            srcset="./images/milkshakes-disktop.jpg 1x,
                            ./images/milkshakes-disktop@2x.jpg 2x" 
                            src="./images/milkshakes-disktop.jpg" alt="milkshake picture" width="132" height="139">
                        </div>
                     <h3 class="modal-list-products-container">milkshake</h3>
                    </label>
                </li>
            </ul>
            <form class="modal-form">
                <label class="modal-form-field">
                    <span class="modal-form-input-wrapper">
                        <input class="modal-form-input"
                                type="text"
                                name="user-name"
                                required 
                                pattern="[a-zA-Z]+" minlength="2"
                                placeholder="Name">
                    </span>
                </label>
                <label class="modal-form-field">
                    <span class="modal-form-input-wrapper">
                        <input class="modal-form-input"
                                type="tel"
                                name="user-phone"
                                required 
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                                title="xxx-xxx-xx-xx"
                                placeholder="Phone">
                    </span>
                </label>
                <label class="modal-form-field-comment">
                    <textarea name="user-comment"
                              class="modal-form-comment" 
                             placeholder="Comment"></textarea>
                </label>
                <button type="submit" class="modal-form-send">Submit</button>
    
            </form>
        </div>
    </div>
</section>
    

<!-- ===================================================================================================== -->

<!--====================================================== Modal with info about product================================  -->

<section>
    <div class="backdrop-modal">
        <div class="modal modal-about" data-modal="modal-about-btn-open">
            <button type="button" class="modal-close-btn js-modal-close">
                <svg class="modal-close-btn-icon" width="20" height="20">
                    <use href="./images/sptite.svg#icon-close"></use>
                </svg>
            </button>
        <h2 class="modal-about-header">Chololate ice cream</h2>
        <div class="modal-about-list-products-img">
            <img class="modal-about-list-img"
                srcset="./images/chocolate-ice-cream.jpg 1x,
                ./images/chocolate-ice-cream@2x.jpg 2x" 
                src="./images/chocolate-ice-cream.jpg" alt="ice cream picture" width="132" height="139">
        </div>
        <ul class="modal-about-list">
            <li class="modal-about-list-li">
                <div class="modal-about-list-li-value">320</div>
                <div class="modal-about-list-li-measure">kcal</div>
            </li>
            <li class="modal-about-list-li">
                <div class="modal-about-list-li-value">4g</div>
                <div class="modal-about-list-li-measure">Prote...</div>
            </li>
            <li class="modal-about-list-li">
                <div class="modal-about-list-li-value">8,2g</div>
                <div class="modal-about-list-li-measure">Fats</div>
            </li>
            <li class="modal-about-list-li">
                <div class="modal-about-list-li-value">40,4g</div>
                <div class="modal-about-list-li-measure">Carbs</div>
            </li>
        </ul>

        <table class="modal-about-table">
            <caption class="modal-about-ingredients">
                Ingredients
            </caption>
             <tbody>
                <tr>
                    <td class="modal-about-ingredients-list-li">Milk</td>
                    <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right">100ml</td>
                </tr>
                 <tr>
                    <td class="modal-about-ingredients-list-li">Belgian chocolate</td>
                    <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right">20g</td>
                 </tr>
                 <tr>
                    <td class="modal-about-ingredients-list-li">Cream</td>
                    <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right">150ml</td>
                </tr>
                <tr>
                    <td class="modal-about-ingredients-list-li">Cocoa powder</td>
                    <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right">30g</td>
                </tr>
                <tr>
                    <td class="modal-about-ingredients-list-li">Sugar</td>
                    <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right" class="modal-about-ingredients-list-li">40g</td>
                </tr>
                <tr>
                    <td class="modal-about-ingredients-list-li">Vanilla sugar</td>
                    <td class="modal-about-ingredients-list-li modal-about-ingredients-list-li-right">10g</td>
                </tr>
            </tbody>
        </table>

            <form class="modal-about-form">
                <label class="modal-about-form-field">
                    <span class="modal-about-form-input-wrapper">
                        <input class="modal-about-form-input"
                                type="text"
                                name="user-name"
                                required 
                                pattern="[a-zA-Z]+" minlength="2"
                                placeholder="Name">
                    </span>
                </label>
                <label class="modal-about-form-field">
                    <span class="modal-about-form-input-wrapper">
                        <input class="modal-about-form-input"
                                type="tel"
                                name="user-phone"
                                required 
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                                title="xxx-xxx-xx-xx"
                                placeholder="Phone">
                    </span>
                </label>
                <label class="modal-about-form-field-comment">
                    <textarea name="user-comment"
                            class="modal-about-form-comment" 
                            placeholder="Comment"></textarea>
                </label>
                <button type="submit" class="modal-about-form-send">Submit</button>

            </form>
        </div>
    </div>
</section>

<!-- ==================================================================================================== -->
 
<!-- ======================================== Franchise - modal window ========================-->

<section>
        <div class="backdrop-modal">
            <div class="modal modal-franchise" data-modal="modal-franchise-btn-open">
                <button type="button" class="modal-close-btn js-modal-close">
                    <svg class="modal-close-btn-icon" width="20" height="20">
                        <use href="./images/sptite.svg#icon-close"></use>
                    </svg>
                </button>
                <h2 class="modal-franchise-header">Thank you for your interest in owning an Ice Cream shop</h2>
                <p class="modal-franchise-text">Due to the overwhelming volume of franchise requests 
                                                we are not accepting new franchisee applications at 
                                                this time. Once the application process resumes, 
                                                we will contact you for further information. 
                                                Please fill out the contact information below and 
                                                we will reach out for additional information. 
                                                We appreciate your patience.</p>

                <form class="modal-franchise-form">
                    <label class="modal-franchise-form-field">
                        <span class="modal-franchise-form-input-wrapper">
                            <input class="modal-franchise-form-input"
                                    type="text"
                                    name="user-name"
                                    required 
                                    pattern="[a-zA-Z]+" minlength="2"
                                    placeholder="Name">
                        </span>
                    </label>
                    <label class="modal-franchise-form-field">
                        <span class="modal-franchise-form-input-wrapper">
                            <input class="modal-franchise-form-input"
                                    type="tel"
                                    name="user-phone"
                                    required 
                                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                                    title="xxx-xxx-xx-xx"
                                    placeholder="Phone">
                        </span>
                    </label>
                    <label class="modal-franchise-form-field">
                        <span class="modal-franchise-form-input-wrapper">
                            <input class="modal-franchise-form-input"
                                    type="email"
                                    name="user-email"
                                    required 
                                    pattern="\S+@\S+\.\S+"
                                    title="example@mail.com"
                                    placeholder="Email">
                        </span>
                    </label>
                    <label class="modal-franchise-form-field-comment">
                        <textarea name="user-comment"
                                class="modal-franchise-form-comment" 
                                placeholder="Comment"></textarea>
                    </label>
                    <button type="submit" class="modal-franchise-form-send">Submit</button>
                </form>
            </div>
        </div>
</section>

<!--===================================================================================================================  -->

<!-- =========================================== MODAL WINDOW VIDEO AND MAP============================================ -->

<section>
    <!-- <div>
      <button class="js-open-modal" data-modal="1" type="button">close</button>
    </div> -->


    <div class="container ">
      <div class="modal modal-map"  data-modal="1">
          <button class="btn-map-close js-modal-close" type="button"  >
            <svg class="btn-map-svg" width="20" height="20">
              <use href="./images/sptite.svg#icon-close"></use>
            </svg>
          </button>
      
        <h1 class="map-title">Our Locations</h1>

<picture>
<source media="(min-width: 748px)"
srcset="./images/big_map.jpg 1x, ./images/big_map@2x.jpg 2x"
>
<img
        class="img-map" width="100%"
         src="./images/map.jpg" alt="map">
         
</picture>
        



        <button class="btn-map" type="button">Open map</button>
      </div>
    </div>
    <div class="overlay js-overlay-modal"></div>
  </section>


    <!-- <button class="js-open-modal btn-test" data-modal="2" type="button">модальне вікно 2</button> -->
    
  <div class="modal modall" data-modal="2">
   
    
    <!-- <p class="modal__title">Заголовок окна 2</p> -->
 </div>


 <section>
   <div class="Video-modal modal" data-modal="3">
          <button type="button" class="video-modal-button js-modal-close">
              <svg class="video-icon" width="16px" height="16px" js-modal-close>
                  <use href="./images/sptite.svg#icon-close"></use>
              </svg>
          </button>
          <p class="modal-video-title">How it’s made?</p>
          <div class="modal-video-box">
            <iframe class="ifrem" width="100%" height="100%"
             src="https://www.youtube.com/embed/CYiUyRKQTJY" 
             title="YouTube video player" 
             frameborder="0" 
             allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
             allowfullscreen></iframe>
          </div>
          <p class="video-modal-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et
          </p>
      </div>

     

 </section>
    <div class="overlay js-overlay-modal"></div>

 <!-- ========================================================================================== -->






